@{
    ViewBag.Title = "About";
}
<h3>Frequently Asked Questions</h3>
@*<h2>Provider</h2>
<ul>
    <li class="q">Will I get sued for donating?</li>
    <li>Please reference the link for the Good Samaritan <span><a href="https://www.gpo.gov/fdsys/pkg/PLAW-104publ210/pdf/PLAW-104publ210.pdf" target="_blank">law</a></span>. </li>
    <li class="q">How do I know what to donate?</li>
    <li>ANSWER</li>
</ul>
<h2>Charity</h2>
<ul>
    <li class="q">Where do I find food donations?</li>
    <li>When you login you should see the main posting area where food providers display what items are available at any particular time.</li>
    <li class="q">How can I get food?</li>
    <li>You have a few options: arrange to pick up donation, arrange to have food provider drop off donation or schedule through transportation providers</li>
    <li class="q">How do we find food ingredients? Allergies? Dietary restrictions?</li>
    <li>The food providers should list this in the main posting area but if you are unsure please feel free to ask them directly.</li>
    <li class="q">What if I didn't receive my donation?</li>
    <li>Please contact the food provider and/or transportation provider as soon as possible. There may be a slight delay due to traffic or weather.</li>
    <li class="q">What is the rating system for?</li>
    <li>The rating system conveys the quality of experience between charities, food providers and transport providers.</li>
</ul>
<h2>Transport</h2>
<ul>
    <li class="q">Do I get paid for this?
    <li>No, this would be considered a charitable donation of both your time and vehicle.</li>
    <li class="q">How do I know pick-up/drop-off location and time?</li>
    <li>This should be coordinated with the charity after they have confirmed with the food provider.</li>
    <li class="q">What is the rating system for?</li>
    <li>The rating system conveys the quality of experience between charities, food providers and transport providers.</li>
    <li class="q">Can I deduct this on my taxes?</li>
    <li>Answer <span><a href="https://www.irs.gov/credits-deductions/individuals/standard-mileage-rates-glance" target="_blank">HERE</a></span></li>
</ul>

<div class="container">
    <br />
    <br />
    <br />

    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        This section contains a wealth of information, related to <strong>PrepBootstrap</strong> and its store. If you cannot find an answer to your question,
        make sure to contact us.
    </div>*@
<div class="container">
    <br />

    <div class="panel-group" id="accordion">
        <div class="faqHeader">Providers</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Is account registration required?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    Account registration at <strong>GotFood</strong> is only required if you will be creating a profile and posting to the Message Board.
                    This ensures a valid communication channel for all parties involved in any transactions.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Will I get sued for donating?</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    Please reference the link for the <span><a href="https://www.gpo.gov/fdsys/pkg/PLAW-104publ210/pdf/PLAW-104publ210.pdf" target="_blank">Good Samaritan</a></span> law.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">How do I know what to donate?</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    ANSWER
                </div>
            </div>
        </div>

        <div class="faqHeader">Charity</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Where do I find food donations?</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    When you login you should see the main posting area where food providers display what items are available at any particular time.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">How can I get food?</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    You have a few options:
                    <ul>
                        <li>Arrange to pick up donation</li>
                        <li>Arrange to have food provider drop off donation</li>
                        <li>Schedule through transportation providers</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">How do we find food ingredients? Allergies? Dietary restrictions?</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                    The food providers should list this in the main posting area but if you are unsure please feel free to ask them directly.
                    <br />
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">What if I didn't receive my donation?</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                    Please contact the food provider and/or transportation provider as soon as possible. There may be a slight delay due to traffic or weather.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">What is the rating system for?</a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
                    The rating system conveys the quality of experience between charities, food providers and transport providers.
                </div>
            </div>
        </div>

        <div class="faqHeader">Transport</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Do I get paid for this?</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body">
                    No, this would be considered a charitable donation of both your time and vehicle.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">How do I know pick-up/drop-off location and time?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                    This should be coordinated with the charity after they have confirmed with the food provider.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">What is the rating system for?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    The rating system conveys the quality of experience between charities, food providers and transport providers.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">Can I deduct this on my taxes?</a>
                </h4>
            </div>
            <div id="collapseTwelve" class="panel-collapse collapse">
                <div class="panel-body">
                    Answer <span><a href="https://www.irs.gov/credits-deductions/individuals/standard-mileage-rates-glance" target="_blank">HERE</a></span>
                </div>
            </div>
        </div>
    </div>
</div>