@{
    ViewBag.Title = "Contact";
}
<h2>Collaborators</h2>
<ul>
    <li>Erica Schulstad       <a href="https://eschulstad.github.io">Portfolio</a></li>
    <li>Greg Mahring      <a href="https://gregmahring.github.io">Portfolio</a></li>
    <li>Amanda Brown      <a href="https://abrown29.github.io/">Portfolio</a></li>
    <li>Nichole M. Pulley   <a href="https://nmpulley.github.io">Portfolio</a></li>

</ul>